/exercicio 1/nbproject/private/
/exercicio 1/build/
/exercicio 2/nbproject/private/
/exercicio 3/nbproject/private/
/exercicio 4/nbproject/private/
/exercicio 5/nbproject/private/
/exercicio 5/build/
/exercicio 6/nbproject/private/
/exercicio 7/nbproject/private/
/exercicio 8/nbproject/private/